body {
    position: relative;
    width: 1024px;
    height: 4000px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color:white;
}
#navmenubox {
    height: 120px;
}


#menulogo {
    height: 95px;
    margin-right: auto;
    padding: 0px;
}

    #menulogo img {
        width: 120px;
        height: auto;
    }

.navbar {
    border: none;
}

.navbar-brand {
    border: none;
}

.navbar-nav {
    color: white;
}

.navbar-nav .nav-item {
    border: none;
}

.navbar-nav .nav-link {
    border: none;
    color: white;
}

.form-group {
}
.container {
    padding: 0px;
    margin-top: -17px;
}
.footer {
    background-color: #dc3545;
    opacity: .7;
    max-width: 1024px;
    text-align: center;
    display: block;
    text-align: center;
    height: 60px;
}
.top-container {
    text-align: center;
    max-width: 1024px;
    border: 1px solid black;
}

header a:hover {
    background-color: #dc3545;
}
.content {
    padding: 16px;
}

.carouselImage{
    height:300px;
}
.quotes{
    font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}
button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.identitybox {
    position: fixed;
    padding: 2em;
    left: 70%;
    top: 0%;
    transform: translateX(-50%);
    /*    background-color: black;
    color: white;*/
    z-index: 990;
}

.identityloginout {
    position: fixed;
    padding: 0em;
    left: 70%;
    top: 15%;
    transform: translateX(-50%);
    background-color: black;
    color: white !important;
    z-index: 990;
}

.formlogin {
    width: 400px;
    z-index: 990;
}
.item-header {
    grid-area: headerarea;
    position: fixed;
    height: 95px;
    width: 1024px;
    background-color: #dc3545;
    /*border: 1px solid black;*/
    z-index: 900;
}

.item-reactcontent {
    grid-area: content;
    color: #000
    /*    border: 1px solid black;*/
}


.item-footer {
    grid-area: footerarea;
    position: fixed;
    bottom: 0px;
    width: 1024px;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    background-color: #dc3545;
    opacity: .7;
    text-align: center;
}

.pagewrapper {
    height: 4000px;
    /*    color: black;*/
    background-color: #87898A;
    display: grid;
    grid-template-columns: 200px 800px;
    grid-template-rows: 95px 1000px 60px;
    grid-template-areas:
        'headerarea headerarea'
        'content content'
        'footerarea footerarea';
}



/*
 //Ramya CSs code*/
.btn {
    background-color: #dc3545;
    float: right;
    color: white;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    border: none;
    cursor: pointer;
    outline: none;
}
.submitButton {
    float: left;
    background-color: #dc3545;
}
.registerBtnDiv{
    padding-left: 180px;
}
.logInBtnDiv {
    padding-left: 210px;
}
.form-group {
    margin-bottom: 20px;
    width: 400px;
    padding-left: 100px;
}
.form-check {
    padding-left: 120px;
}
.carouselImage {
    width: 100%;
}
.carouselImage {
    height: 300px;
}

.quotes {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}
.content {
    margin: -55px -40px 0px -15px;
}
.wrapper {
    display: grid;
    grid-template-columns: 150px 100px;
}
.contactUsContents {
    padding-left: 100px;
    color:white;
}

/*dropdown menu styling*/
.dropbtn {
    background-color: #dc3545;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #dc3545;
    opacity:.8;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color:white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

    .dropdown-content a:hover {
        background-color: #dc3545
    }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #dc3545;
}




.headerButtons {
    background-color: #dc3545;
    border:none;
    color:white;
}
.headerRightSideMenu{
    margin-left:100px;
}



