@{ //ViewData["Title"] = "Home Page";
}


@{
    var prop = "All Products";

    @Html.ReactRouter("Components.Index", new
{
   someProp = @prop
});
}

<div id="reactcontent"></div>



@Html.ReactInitJavaScript()


