@{ //ViewData["Title"] = "Home Page";
}


    @{
        bool isAuthenticated = this.User.Identity.IsAuthenticated;
        bool isAdmin = this.User.IsInRole("Admin");

        @Html.ReactRouter("Components.Index", new
   {
       userIsAuthenticated = isAuthenticated,
       userIsAdmin = isAdmin
   });  
        }



<div id="reactcontent"></div>



@Html.ReactInitJavaScript()


