@{ //ViewData["Title"] = "Home Page";
}

@{
        var prop = "prop from net";
    }

    @Html.ReactRouter("Components.Index", new
    {
        someProp = @prop
    });


<div>Home index </div>

<br />
<br />
<div><partial name="_LoginPartial" /></div>



@*<div id="partialviewfromcontroller"></div>*@

<div id="reactcontent"></div>




@Html.ReactInitJavaScript()


