@{ //ViewData["Title"] = "Home Page";
}


    @{
        var prop = this.User.Identity.IsAuthenticated;

        @Html.ReactRouter("Components.Index", new
   {
       UserIsAuthenticated = prop
   });;
        }


//<div id="reactcontent"></div>



@Html.ReactInitJavaScript()


