
<div>Create Person</div>
<br />
<br />
<div id="reactcreateperson">page2</div>

<div id="content">


</div>



<script type="text/jsx" src="~/reactjs/Products.jsx"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>

