<div>
    <h2>@ViewBag.Title</h2>
    <br />
    <h4>
        <input type="button" class="btn btn-primary" onclick="getAllProductsNow()" value="Fetch all products" />
    </h4>

    <div>
        <br />
        <P id="actionMessage"></P>
    </div>


    <br />
    <div id="reactcontent"></div>

</div>
